@font-face {
  font-family: CommitMono;
  src: url("/assets/fonts/CommitMono-400-Regular.otf");
}
@font-face {
  font-family: CommitMono;
  font-weight: bold;
  src: url("/assets/fonts/CommitMono-700-Regular.otf");
}
html * {
  color: #5e5e5e;
  font-family: CommitMono;
}

/* ======== Header ======== */
header {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.253);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Logo */
.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* Header Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
  position: relative;
}

.nav-links li a:hover {
  color: rgb(90, 177, 69);
}

.nav-links li a:after {
  content: "";
  position: absolute;
  background: rgb(90, 177, 69);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-links li a:hover:after {
  width: 100%;
}

/* ======== Body ======== */
a,
button,
body {
  margin: 0;
  height: 100vh;
  /*cursor: url('../assets/images/circle.svg') 25 15, auto;*/
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: fixed;
  z-index: 1000000;
  pointer-events: none; /* without couldnt interact with links etc. */
  transition: transform 0.1s ease-out; /* Add a smooth transition effect */
}

.cursor.hovered {
  transform: scale(2.5); /* Increase size by scaling */
  /* background-color: #f00; /* Optional: Change border color */
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

#about {
  text-align: left;
  padding: 180px 100px 100px; /* Adjust top padding to account for fixed header */
  min-height: 25vh;
  max-height: 30vh;
  justify-content: left;
}

#about div {
  width: 50%;
  min-height: 25vh;
  max-height: 30vh;
}

.about-content {
  padding: 20px 50px 0px;
}

.about-content h1 {
  color: #000000;
  font-weight: 1000;
  font-size: 50px;
}

.about-content p {
  font-size: 25px;
}

.about-image img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.253);
  transition: transform 0.5s ease-out; /* Add a smooth transition effect */
}

.banner {
  background-color: rgb(90, 177, 69);
  height: 20vh;
  max-width: 100%;
  display: flex;
  text-align: center;
  margin-top: 40px;
}

.banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
  font-size: 40px;
}

.banner p {
  color: white;
  font-size: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
}

.pulse {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(39, 126, 43, 0.801);
  border: 3px solid white;
  border-radius: 50%;
  transition: transform 0.1s ease-out; /* Add a smooth transition effect */
}

.pulse img {
  width: 105%;
  z-index: 100;
}

.pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
}

.pulse:hover span {
  opacity: 0.8;
  animation: pulseAnimate 3s ease-out infinite; /* Enable animation on hover */
  animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.project-entry {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: rgba(97, 97, 97, 0.0901960784);
}

.project-entry.reverse {
  flex-direction: row-reverse;
}

.project-image {
  width: 40%;
  display: flex;
  justify-content: left;
  overflow: hidden;
  position: relative;
}

.project-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s ease-out;
}

.project-image img,
.project-image .video-loop {
  width: 100%;
  height: 100%; /* Ensure the video and image occupy the same space */
  -o-object-fit: cover;
     object-fit: cover; /* Crop the content to cover the container */
  position: absolute; /* Ensure both video and image are positioned on top of each other */
  top: 0;
  left: 0;
}

.project-image:hover .video-loop {
  display: block; /* Show the video on hover */
}

.project-image:hover .video_on_hover {
  display: none; /* Hide the image on hover */
}

.project-text {
  height: auto;
  padding: 20px;
  max-width: 75%;
}

.project-text h2 {
  margin-top: 0;
  font-size: 30px;
  color: black;
}

.project-text p {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 18px;
}

.project-text a {
  font-size: 16px;
  color: black;
}

/* ======== Footer ======== */
footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */